/* Desktop */

@media (min-width: 700px) {}

#mobile-footer-design {
    display: none;
}

.row {
    line-height: 210%;
    padding: 3% 0;
    box-sizing: border-box;
}

.col img {
    margin-right: 2px;
}

#desktop-footer-design {
    display: flex;
    padding: 0 0;
}

#desktop-footer-design li {
    margin: 0 5px;
}

.footer2 {
    padding: 0 10%;
    /* Aggiunge 20px di spazio a sinistra e a destra del contenitore */
    box-sizing: border-box;
}

.d-grid {
    position: relative;
}

.btn-primary {
    position: relative;
    top: -70px;
    width: 180px;
    height: 45px;
}